sudo: false

language: php

php:
    - 5.6.30
    - 7.1

env:
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=4.7.3 WP_MULTISITE=0

before_script:
    - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
    - composer install

script:
    - if [ "$TRAVIS_BRANCH" == "master" ]; then mkdir -p build/logs; vendor/bin/phpunit --coverage-clover build/logs/clover.xml; fi
    - if [ "$TRAVIS_BRANCH" != "master" ]; then vendor/bin/phpunit -c bin/phpunit-no-cover.xml; fi

after_script:
    - if [ "$TRAVIS_BRANCH" == "master" ]; then php vendor/bin/coveralls -v; fi

after_success:
    - if [ "$TRAVIS_BRANCH" == "master" ]; then coveralls; fi
