<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>    </logging>
    <filter>
    	<whitelist processUncoveredFilesFromWhitelist="true">
    		<directory suffix=".php">includes</directory>
    		<file>steam-manager.php</file>
  		</whitelist>
	</filter>
</phpunit>
