.stub {
  cursor: move;
  -webkit-transition: .2s background;
     -moz-transition: .2s background;
          transition: .2s background;
}

.stub:hover {
  background: #FAFAFA;
}

.stub.fm-pinned {
  background: #D4F5FF;

  .row-title:after {
    content: " (Pinned)";
    font-weight: normal;
  }
}
.stub.fm-hidden {
  opacity: .5;

  .row-title:after {
    content: " (Hidden)";
    font-weight: normal;
  }
}

.fm-posts,
.stub {

  .column-rel-date {
    width: 100px;
  }

  .column-thumbnail {
    width: 144px;
  }
}

.fm-feed-rows .ui-sortable-placeholder {
  height: 59px;
}

#feed_box_feed {
  > .handlediv,
  > .hndle {
    display: none;
  }

  > .inside {
    margin: 0;
    padding: 0;

    > .fm-posts {
      border: 0;
    }
  }
}