$stub-hover: #FAFAFA;
$stub-pinned: #D4F5FF;


.stub {
  cursor: move;
  background: #FFF;
  -webkit-transition: .2s background;
     -moz-transition: .2s background;
          transition: .2s background;
}

.stub.ui-sortable-helper {
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
  opacity: .9;
}

.stub:hover {
  background: $stub-hover;
}

.stub.fm-pinned {
  background: $stub-pinned;

  .row-title::before {
    content: "\f109";
    display: inline-block;
    width: 16px;
    height: 14px;
    font-size: 16px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: .5;
    margin-right: 5px;
    position: relative;
    top: 1px;
  }

  &:hover {
    background: darken($stub-pinned, 3%);
  }
}
.stub.fm-hidden {
  opacity: .5;

  .row-title:after {
    content: " (Hidden)";
    font-weight: normal;
  }
}

.fm-posts,
.stub {

  .column-rel-date {
    width: 100px;
  }

  .column-thumbnail {
    width: 72px;
  }
}

.fm-feed-rows .ui-sortable-placeholder {
  height: 59px;
}

#feed_box_feed {
  > .handlediv,
  > .hndle {
    display: none;
  }

  > .inside {
    margin: 0;
    padding: 0;

    > .fm-posts {
      border: 0;
    }
  }
}

.post-type-fm_feed {
  #title {
    position: relative;
    z-index: 1;
  }
}