/* line 1, ../scss/style.scss */
.stub {
  cursor: move;
  -webkit-transition: .2s background;
  -moz-transition: .2s background;
  transition: .2s background;
}

/* line 8, ../scss/style.scss */
.stub:hover {
  background: #FAFAFA;
}

/* line 12, ../scss/style.scss */
.stub.fm-pinned {
  background: #D4F5FF;
}
/* line 15, ../scss/style.scss */
.stub.fm-pinned .row-title:after {
  content: " (Pinned)";
  font-weight: normal;
}

/* line 20, ../scss/style.scss */
.stub.fm-hidden {
  opacity: .5;
}
/* line 23, ../scss/style.scss */
.stub.fm-hidden .row-title:after {
  content: " (Hidden)";
  font-weight: normal;
}

/* line 32, ../scss/style.scss */
.fm-posts .column-rel-date,
.stub .column-rel-date {
  width: 100px;
}
/* line 36, ../scss/style.scss */
.fm-posts .column-thumbnail,
.stub .column-thumbnail {
  width: 144px;
}

/* line 41, ../scss/style.scss */
.fm-feed-rows .ui-sortable-placeholder {
  height: 59px;
}

/* line 47, ../scss/style.scss */
#feed_box_feed > .handlediv,
#feed_box_feed > .hndle {
  display: none;
}
/* line 51, ../scss/style.scss */
#feed_box_feed > .inside {
  margin: 0;
  padding: 0;
}
/* line 55, ../scss/style.scss */
#feed_box_feed > .inside > .fm-posts {
  border: 0;
}
