/* line 1, ../scss/style.scss */
.stub {
  cursor: move;
}

/* line 5, ../scss/style.scss */
.stub.fm-pinned {
  background: #e7ffd0;
}
/* line 8, ../scss/style.scss */
.stub.fm-pinned .row-title:after {
  content: " (Pinned)";
  font-weight: normal;
}

/* line 13, ../scss/style.scss */
.stub.fm-hidden {
  opacity: .5;
}
/* line 16, ../scss/style.scss */
.stub.fm-hidden .row-title:after {
  content: " (Hidden)";
  font-weight: normal;
}

/* line 25, ../scss/style.scss */
.fm-posts .column-rel-date,
.stub .column-rel-date {
  width: 100px;
}
/* line 29, ../scss/style.scss */
.fm-posts .column-thumbnail,
.stub .column-thumbnail {
  width: 144px;
}

/* line 34, ../scss/style.scss */
.fm-feed-rows .ui-sortable-placeholder {
  height: 59px;
}
