<div class="fm-alert"></div>

<div class="fm-posts" data-ids="{{ post_ids }}" data-pinned="{{ post_pinned }}">

    {% set modifier = 0 %}

    {% for i, post in posts %}

      {% if layout.zones[i + modifier] %}
        {% include "meta.twig" %}
        {% set modifier = modifier + 1 %}
      {% endif %}

      {% include "stub.twig" %}

    {% endfor %}

</div>

{{ nonce }}
