<table class="wp-list-table widefat fixed posts fm-posts">

  <thead>
    <tr>
      <th scope="col" id="cb" class="manage-column column-cb check-column" style=""><label class="screen-reader-text" for="cb-select-all-1">Select All</label><input id="cb-select-all-1" type="checkbox"></th>

      <th scope="col" id="title" class="manage-column column-title sortable desc" style=""><span>Title</span></th>

      <th scope="col" id="date" class="manage-column column-date sortable asc" style=""><span>Date</span></th> 
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th scope="col" class="manage-column column-cb check-column" style=""><label class="screen-reader-text" for="cb-select-all-2">Select All</label><input id="cb-select-all-2" type="checkbox"></th>

      <th scope="col" class="manage-column column-title sortable desc" style=""><span>Title</span></th>

      <th scope="col" class="manage-column column-date sortable asc" style=""><span>Date</span></th>
    </tr>
  </tfoot>

  <tbody id="the-list">

    {% for i, post in posts %}

      {% include "stub.twig" %}

    {% endfor %}

  </tbody>
</table>
