<div class="fm-alert"></div>

<div class="fm-posts" data-ids="{{ post_ids }}" data-pinned="{{ post_pinned }}">

    {% for i, post in posts %}

      {% if feed_meta[i] %}
        {% include "meta.twig" %}
      {% endif %}

      {% include "stub.twig" %}

    {% endfor %}

</div>

{{ nonce }}
