<div class="stub zone pinned" data-position="{{ ( i + modifier ) }}">
  <a href="#" title="Remove this zone" class="remove stub-action dashicons dashicons-no"></a>
  <input type="text" class="zone-header" value="{{ layout.zones[i + modifier]|escape }}">
</div>
