<div class="stub zone pinned" data-position="{{ j }}">
  <a href="#" title="Remove this zone" class="remove stub-action dashicons dashicons-no"></a>
  <input type="text" class="zone-header" value="{{ zone.title|escape }}">
</div>
