
<div id="categorydiv">
{{ function('post_categories_meta_box', post, null ) }}
</div>

<div id="tagsdiv-post_tag">
  {{ function('post_tags_meta_box', post, null) }}
</div>

<a class="button reload-stream">Reload Stream</a>